#contact-box{
	/*width: 250px;*/
	height: 30px;
	border: 1px solid #FFF;
	border-radius: 5px;
}

#send-issue{
	margin: 15px 0;
	background-color: #FFF;
	border-radius: 3px;
	font-family: "Open Sans";
}

#feedback{
	background-color: rgba(255, 255, 255, 0.7);
}

#feedback p{
	font-size: 18px;
	color: #1B1B2F;
	font-weight: 600;
	font-family: "Open Sans";
}