.sign-this-petition{
	float: right;

}

#petition-title{
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 600;
	text-shadow: -2px 2px 3px black;
  	color: #fff;
	text-shadow: 0px -1px 4px white, 0px -2px 10px black, 0px -10px 20px black, 0px -18px 40px red;
	font:  'BlackJackRegular';
}

#pet-box{
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 2%;
	padding: 3% 3%;
	padding-bottom: 6%;
	border: 1px solid gray;
}

.cat-info {
	float: right;
	padding-top: 2%;
}

#pet-box span{
	color: #191935;
	font-weight: 400;
	font-size: 14px;
}

.comments{
	margin-top: 30px;
	color: #fff;
	text-shadow: 0px -1px 4px white, 0px -2px 10px black, 0px -10px 20px black, 0px -18px 40px red;
	font:  'BlackJackRegular';
}

#comment-zone{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px 15px;
	border-top: 3px double #FFF;
	/*border-bottom: 1px solid #FFF;*/
	color: rgba(97, 0, 0, 1);
}

#comment-zone .author-of-pet{
	float: right;
}

#comment-zone .comment-message{
	font-size: 14px;
}

.comments-form{
	padding: 10px 0 30px 0;
}

.comments-form span{
	color: #FFF;
	font-size: 14px;
}
